@use '../../sass/mixin'
@use '../../sass/variables'

.articleContainer
  @include mixin.flex($flexD:column)
  font-family: 'Raleway',sans-serif
  max-width: 260px
  color: variables.$customGrey

.colorBlock
  @include mixin.flex($flexD:column, $gap:10px)
  background-color: white
  position: relative
  border: 10px solid
  padding: 16px
  min-width: 100%
  min-height: 215px

.headerH1
  @include mixin.font($size: 33px, $weight: 700)

.headerText
  @include mixin.font($size: 16.5px, $height: 26px)

.priceBlock
  position: absolute
  right: 20px
  bottom: 15px
  @include mixin.font($size: 28px, $weight: 600)
  text-align: right

.infoPackContainer
  @include mixin.flex($flexD:column, $align: stretch, $gap:0)
  @include mixin.font($size: 15.5px, $height:26px)

.packPrizeText
  @include mixin.borderWhite
  padding-bottom: 10px

.packUpgradesContainer
  @include mixin.flex($flexD:column, $gap:15px)
  @include mixin.borderWhite
  padding: 10px 0

.packExpectedText
  padding: 10px 0

.packRefundText
  border-top: 2px variables.$customWhite solid
  padding-top: 10px

.packListedUpgrades
  @include mixin.flex($flexD:column, $gap:13px)

.infoTextContainer
  @include mixin.flex($flexD:column, $gap:10px)

.infoListText
  @include mixin.font($size: 14px, $height:18px)
  margin-left: 20px

.pseudoButton
  @include mixin.flex($flexD:row, $justify:center, $align:center, $gap:5px)
  @include mixin.font($size: 17px,$weight:700, $height:18px)
  height: 45px
  width: 100%
  text-align: center
  color: white
  padding: 7px 0
  border-radius: 10px
  background-color: black
