*
  box-sizing: border-box

.containerHeader
  display: flex
  justify-content: center
  align-items: center
  min-height: 275px

.pricingHeader
  padding: 40px
  display: flex
  flex-direction: row
  align-items: center
  gap: 10px
  font-size: 38px
  min-width: 70%

.headerSelect
  background-color: #28d2d0
  border: transparent
  border-radius: 20px
  min-width: 200px
  padding: 10px 20px

  option
    background-color: white
    font-size: 18px

.containerPricingArea
  margin: 50px 0
  display: flex
  justify-content: center
  align-items: center
  min-height: 275px
